<div class="container-fluid">

    <div class="row">

        <div id="main_content" class="col-xs-12">

        <div id="chat_header" class="row">

          <div class="col-xs-12 col-md-offset-3 col-md-6">
            <h3 class='text-left'>
           BAMNodeChat. Please join.
           </h3>

            <div>
            <form id="join_chat">
                <label for="nickname">Nickname:</label>
                <input type="text" id="nickname" name="nickname">
               <br>
                <button name="submit_nickname">Join</button>
            </form>
            </div>

            <span id="screen_dims"></div>
          </div><!-- end of col -->

        </div><!-- end of class row-->

        <div id="chat_messages" class="row">
           <div class="col-xs-12">
             <table id="messages_table">


             </table>


           </div><!-- end of column -->
        </div><!-- end of row-->

          

            <div id="footer">
              <div id="footer_msgbar" class="container-fluid">
               <ul>
                  <li id='num_users'>0 users</li>
                  <li id='num_users'>Uptime: 0:00</li>
                  <li id='num_users'>Memory: 0mb</li>

               </ul>

              </div>

               <div id="enter_message_wrapper" class="container-fluid">
                  <input id="enter_message" type="text" placeholder="Enter message here" autofocus> 


               </div>
            </div><!-- end of footer-->

        </div><!--end of main_content-->

    </div><!--end of class row-->

</div><!--end of container-fluid-->
