<div class="container-fluid">

    <div class="row">

        <div id="main_content" class="col-xs-12 col-md-8">

        <h1 class='text-center'>Hello, Welcome to Basic Node Chat</h1>

        </div><!--end of main_content-->

       <div id="nav_right" class="col-xs-12 col-md-4">

       </div><!--end of nav right-->

    </div><!--end of class row-->

</div><!--end of container-fluid-->
